@import "../../../styles/layout.scss";

.header {
  display: flex;
  flex-direction: column;

  white-space: nowrap;

  @include mediaTablet {
    display: none;
  }
  .top {
    width: 100%;
    height: 32px;

    padding: 0px 13%;

    background-color: rgb(242, 245, 248);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .text {
      font-family: "Spoqa Han Sans Neo";
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      color: #6f89a5;
    }
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      .first-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .text {
          color: black;
        }
        .img {
          width: 10px;

          margin-left: 4px;
        }
      }
      .second-item {
        width: 1px;
        height: 16px;

        margin: 2px 16px;
        background-color: rgb(208, 221, 234);
      }
      .third-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .text {
          margin: 0 4px 0 0;
        }
        .img {
          width: 34px;
          height: 14px;
          // margin: 3px 4px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .first-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        .img {
          margin-right: 4px;
        }
      }
      .second-item {
        margin-left: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;

        .img {
          margin-right: 4px;
        }
      }
      .third-item {
        margin-left: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;

        .img {
          margin-right: 4px;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    height: 64px;

    padding: 0px 13%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .second-item {
        width: 1px;
        height: 16px;

        margin: 2px 16px;
        background-color: rgb(208, 221, 234);
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .first-item {
        font-family: "Spoqa Han Sans Neo";
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: center;
      }
      .second-item {
        margin-left: 24px;

        font-family: "Spoqa Han Sans Neo";
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: center;
      }

      .third-item {
        margin-left: 24px;

        font-family: "Spoqa Han Sans Neo";
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: center;
      }
      .fourth-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        position: relative;
        .input {
          box-shadow: none;
          border: 0;
          margin-left: 24px;
          padding: 14px 110px 14px 16px;
          background-color: rgb(242, 245, 248);

          font-family: "Spoqa Han Sans Neo";
          font-size: 12px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.4px;

          border-radius: 20px;
        }
        .button {
          width: 102px;
          height: 40px;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          border: 0;
          border-radius: 200px;

          position: absolute;
          top: 50%;
          right: 0px;

          transform: translateY(-50%);

          background-color: rgb(62, 114, 250);
          .text {
            color: white;

            font-family: "Spoqa Han Sans Neo";
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1.07px;
          }
          .search-img {
            margin-left: 7px;
          }
        }
      }
    }
  }
}

.mobileHeader {
  @include mediaPC {
    display: none;
  }

  width: 100%;
  min-height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0px 16px 0px 16px;

  .rightText {
    color: rgba(0, 0, 0, 0.33);

    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: right;
  }
}
