$MOBILE_WIDTH: 650;
$MOBILE_SIZE: 650px;
$TABLET_WIDTH: 1024;
$TABLET_SIZE: 1024px;

$FONT_PRIMARY: "Spoqa Han Sans Neo";

@mixin mediaMobile {
  @media (max-width: $MOBILE_SIZE) {
    @content;
  }
}

@mixin mediaTablet {
  @media (max-width: $TABLET_SIZE) {
    @content;
  }
}

@mixin mediaPC {
  @media (min-width: $TABLET_SIZE) {
    @content;
  }
}
